/*reset*/
html, body, div, span, a, p, h1, h2 {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html {
  background-color: rgb(0, 120, 0);
}

#root {
  background-color: #F0F0F0;
}

/*set height to 100% to pass down window height (without scroll bars) to react app*/
html, body {
  height: 100%;
}

#root {
  min-height: 100%;
}

body {
  font-family: helvetica neue, helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.025em;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/*links*/
a {
  border-bottom: 1px dotted rgb(0, 168, 0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.current-input-mouse a:hover,
.current-input-mouse a:active {
  color: black;
  border-bottom: 1px solid rgb(0, 168, 0);
}

.current-input-touch a:active {
  color: black;
  border-bottom: 1px dashed rgb(0, 168, 0);
}

/*extended link*/
.extended-link {
  border: none;
  color: rgb(128,128,128);
}

.extended-link > span {
  border-bottom: 1px dotted rgb(0, 168, 0);
}

.current-input-mouse .extended-link:hover, .current-input-mouse .extended-link:active,
.current-input-touch .extended-link:active {
  border: none;
  color: rgb(128,128,128);
}

.current-input-mouse .extended-link:hover > span,
.current-input-mouse .extended-link:active > span {
  border-bottom: 1px solid rgb(0, 168, 0);
  color: black;
}

.current-input-touch .extended-link:active > span {
  border-bottom: 1px dashed rgb(0, 168, 0);
  color: black;
}
